XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="test">
		<xs:sequence />
	</xs:complexType>
	<xs:element name="Security">
	<xs:complexType>
	<xs:sequence>
	  <xs:element name ="CORBA" type="xs:string" maxOccurs="unbounded"/>
	  <xs:element>
	   <xs:complexType>
	    <xs:attribute name="hello" type="xs:string">
	    </xs:attribute>
	   </xs:complexType>
	  </xs:element>
	</xs:sequence>
	</xs:complexType>
	</xs:element>
</xs:schema>